.historyPage{
    background-color: var(--backgroundColor);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-heading{
    font-size: 25px;
    color: #03A64A;;
    text-decoration: underline;
}
.historyContainer{
    width: 70vw;
    border:1px solid #03A64A;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#03A64A;
}
.history-table{
    width: 100%;
    padding: 20px;
    &>thead>tr>th,&>tbody>tr>td{
        border-bottom: 1px solid black;
    }
    &>tbody>tr>td{
        padding: 10px;
    }

}